@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 640px) {
  html {
    font-size: 3.5vw;
  }
}
